@page
@model LoCoMPro.Pages.ModerateOldRegistersModel
@{
    ViewData["Title"] = "Registros Antiguos";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
    char s = (char)31; // ASCII Control Unit Separator
}
@using Microsoft.AspNetCore.Identity
@using LoCoMPro.Data;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<head>
    <link rel="stylesheet" href="~/css/ModerateOldRegisters.css" />
    <script src="~/js/moderateOldRegisters.js"></script>
    <link rel="stylesheet" href="~/ico/font-awesome-4.7.0/css/font-awesome.css">
</head>


<div class="register-anomalies-page-body">
    <h2 class="text-center">Registros Antiguos</h2>
    <div id="feedbackMessage" class="feedback-message"></div>
    <div id="cant-reportes">
        <h5>Cantidad de productos con registros antiguos: <span id="report-count">@Model.ProductsWithOldRegisters.Count</span></h5>
    </div>
    <hr class="style-four">

    <div class="empty-section text-center" id="empty-list"
         style='display: @(@Model.ProductsWithOldRegisters.Count == 0 ? "inline-block" : "none")'>
        <h1>¡No hay registros antiguos que revisar!</h1>
        <img src="~/img/ProductNotFound.svg" alt="Producto no encontrado" />
    </div>

    <div class="old-registers-section" id="no-empty-list">
        <div class="results-cont-msg" span id="results-count"></div>

        <nav>
            <ul class="container-List-Old-Columns" style='display: @(Model.ProductsWithOldRegisters.Count != 0 ? "flex;padding: 0px;justify-content: space-around;" : "none")'>
                <li id="product-col">
                    <div class="text-Comment">Producto</div>
                </li>
                <li id="store-col">
                    <div class="text-Comment">Tienda</div>
                </li>
                <li id="lim-col">
                    <div class="text-Comment">Fecha de corte</div>
                </li>
                <li id="old-count-col">
                    <div class="text-Comment">Cant. Registros antiguos</div>
                </li>
            </ul>
        </nav>

        <ul class="reports-section">
            @for (int productNum = 0; productNum < Model.ProductsWithOldRegisters.Count; productNum++)
            {
                string productName = Model.ProductsWithOldRegisters[productNum].Name;
                string storeName = Model.StoresWithOldRegisters[productNum].Name;
                string dateLimit = Model.dateLimits[productNum].ToShortDateString();
                int numOldRegisters = Model.NumberOfOldRegisters[productNum];
                

                var prodData = $"{productName}{s}{storeName}{s}{dateLimit}{s}{numOldRegisters}";

                <li class="result-block register-block-pagination" id="report-item-@productNum">
                    <a>
                        <span id="prod-name" value="productName">
                            @productName
                        </span>
                        <span id="store-name" value="storeName">
                            @storeName
                        </span>
                        <span id="date-lim" data-value="@dateLimit">
                            @dateLimit
                        </span>
                        <span id="old-registers-num" data-value="@numOldRegisters">
                            @numOldRegisters
                        </span>
                        <div class="text-center align">
                            <button class="open-interactions-button" id="button-open-moderate-popup" report-data="@prodData"
                                report-number="@productNum" onclick="openInteractionsPopupOldRegister(this)">
                                <img src="~/img/MoreIcon.svg" alt="Más opciones">
                            </button>
                        </div>
                    </a>
                </li>
            }
        </ul>

        <div class="interactive-popup-section">
            <div class="interactions-popup">
                <div class="interactions-popup-content">
                    <p><b>Producto: </b> <span id="popup-productName"></span></p>
                    <p><b>Tienda:</b> <span id="popup-storeName"></span></p>
                    <p><b>Fecha de corte: </b> <span id="popup-dateLimit"></span></p>
                    <p><b>Cantidad de registros antiguos: </b> <span id="popup-old-registers-amount"></span></p>

                    <div class="buttons-container">

                        <button class="interactions-close-button" onclick="closeInteractionsPopupMod()">Cerrar</button>
                        <button id="hideRegisters" onclick="hideOldRegisters()" style="visibility: hidden;">Ocultar</button>
                        <button id="keepRegisters" onclick="keepOldRegisters()" style="visibility: hidden;">Conservar</button>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <script>
                                document.getElementById("hideRegisters").style.visibility = "visible";
                                document.getElementById("keepRegisters").style.visibility = "visible";
                            </script>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/feedbackMessage.js"></script>
</div>

