@page
@model LoCoMPro.Pages.ProductListPageModel
@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
}

<head>
    <link rel="stylesheet" href="~/css/ProductListPage.css" />
</head>

<div>
    <div class="information-section">
        <!-- Title of the list-->
        <div class="list-page-title">
            <h2>Lista de productos de interés</h2>
        </div>

        <!-- Amount of products in the list-->
        <div class="list-page-subtitle">
            <h4>Cantidad de productos: @Model.UserProductList.Count</h4>
            <!-- Something here -->

            <h4>Precio aproximado: ₡</h4>
            <!-- Something here -->
        </div>
    </div>

    <!-- Horizontal separating line -->
    <hr class="style-four">

    <div class ="product-list-section">
        <!-- Container for column -->
        <nav>
            <ul class="list-page-column-title">
                <li>
                    <div class="textComment">Producto</div>
                </li>
                <li>
                    <div class="textComment">Marca</div>
                </li>
                <li>
                    <div class="textComment">Modelo</div>
                </li>
                <li>
                    <div class="textComment">Tienda</div>
                </li>
                <li>
                    <div class="textComment">Ubicación</div>
                </li>
                <li>
                    <div class="textComment">Precio Promedio</div>
                </li>
                <li>
                </li>
            </ul>
        </nav>

        <!-- Search results section -->
        <ul class="product-list-section">
            <!-- Put in all results -->
            @foreach (var product in Model.UserProductList)
            {
                <!-- A result block -->
                <li class="product-list-block register-block-pagination">
                    <!-- Route and data for each result -->
                    <a>
                    <span id="register-product-name" value="@product.ProductName">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </span>
                        <span id="register-province-name" value="@product.ProductBrand">
                            @Html.DisplayFor(modelItem => product.ProductBrand)
                        </span>
                        <span id="register-canton-name" value="@product.ProductModel">
                            @Html.DisplayFor(modelItem => product.ProductModel)
                        </span>
                        <span id="register-store-name" value="@product.StoreName">
                            @Html.DisplayFor(modelItem => product.StoreName)
                        </span>
                        <span id="register-province-name" value="@product.Province + , + @product.Canton">
                            @product.Province, @product.Canton
                        </span>
                        <span id="register-price" value="@product.AvgPrice">
                            ₡ @Html.DisplayFor(modelItem => product.AvgPrice)
                        </span>
                        <span>
                        </span>
                    </a>
                </li>
            }
        </ul>
        <div class="product-pagination">
            <!-- Pagination section -->
            @await Html.PartialAsync("_Pagination")
        </div>
    </div>
    <script src="~/js/pagination.js"></script>
</div>