@page "~/ProductListPage"
@model LoCoMPro.Pages.ProductListPageModel
@{
    ViewData["Title"] = "Lista de Producto";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
    @Html.AntiForgeryToken();
    char s = (char)31;
}

<head>
    <link rel="stylesheet" href="~/css/ProductListPage.css" />

    <script src="~/js/deleteProductList.js"></script>

    <link rel="stylesheet" href="~/ico/font-awesome-4.7.0/css/font-awesome.css">
</head>

<div>
    <div id="feedbackMessage" class="feedback-message"></div>

    <div class="information-section">
        <div class="information-text-section">
            <div class="list-page-title">
                <h2>Lista de productos de interés</h2>
            </div>
        </div>

        <a style='display: @(Model.UserProductList.Count != 0 ? "inline-block" : "none")'
                class="information-button-section" method="get" asp-page="/ListReportPage">
            <button type="button" class="button-general" id="generate-report-button">
                Generar informe
                <i class="fa fa-list" aria-hidden="true"></i>
            </button>
        </a>
        @if (!Model.HasUserLocation)
        {
            <div class="location-message" id="location-message-text" 
                    style='display: @(Model.UserProductList.Count != 0 ? "inline-block" : "none")'>
                <span>
                    * Escoja una ubicación de preferencia para poder crear un informe
                </span>
            </div>
        }
        <hr class="style-four">
    </div>


    <div class="empty-section text-center" id="empty-list"
            style='display: @(Model.UserProductList.Count == 0 ? "inline-block" : "none")'>
        <h1>¡No hay elementos en la lista!</h1>
        <img src="~/img/ProductNotFound.svg" alt="Producto no encontrado" />
    </div>

    <div class ="product-list-section" id="no-empty-list"
            style='display: @(Model.UserProductList.Count != 0 ? "inline-block" : "none")'>
        <nav>
            <div class="results-cont-msg" span id="results-count" hidden></div>

            <ul class="list-page-column-title">
                <li>
                    <div class="text-comment">Producto</div>
                </li>
                <li>
                    <div class="text-comment">Marca</div>
                </li>
                <li>
                    <div class="text-comment">Modelo</div>
                </li>
            </ul>
        </nav>

        <div id="product-count" hidden>@Model.UserProductList.Count</div>

        <ul class="product-list-section">
            @for (int i = 0; i < Model.UserProductList.Count; i++)
            {
                var product = Model.UserProductList[i];

                var productData = $"{product.ProductName}{s}{product.ProductBrand}" +
                        $"{s}{product.ProductModel}{s}{product.StoreName}" +
                        $"{s}{product.Province}{s}{product.Canton}" +
                        $"{s}{product.AvgPrice}";

                <li class="product-list-block" id="product-item-@i">
                        <span id="register-product-name" value="@product.ProductName">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </span>
                        <span id="register-product-brand" value="@product.ProductBrand">
                            @Html.DisplayFor(modelItem => product.ProductBrand)
                        </span>
                        <span id="register-product-model" value="@product.ProductModel">
                            @Html.DisplayFor(modelItem => product.ProductModel)
                        </span>
                        <button class="remove-button button-general" type="button"
                                data-product-data="@productData" onclick="removeProductFromList(this, @i)">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </button>
                </li>
            }
        </ul>
    </div>
    <script src="~/js/feedbackMessage.js"></script>
</div>