@page
@model LoCoMPro.Pages.ProductPageModel
@{
    ViewData["Title"] = "SearchProduct";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Product Visualization</title>
    <link rel="stylesheet" href="~/css/SharedStyles.css" />
</head>

<body>
    <!-- Name of product requested -->
    <div class="titleProduct">
        @Model.amountRegisterDisplayed
    </div>



    <!-- Section for columns of specifications from requested product -->
    <div class="container">
        @{
            var firstNonNullRegister = Model.Register.FirstOrDefault(r => r.StoreName != null);

        }

        <!-- brand column -->
        <div class="column">
            <h2>Marca</h2>
            @{
                if (firstNonNullRegister != null)
                {
                    <p>@Html.DisplayFor(modelItem => firstNonNullRegister.Product.Brand)</p>
                }
            }
        </div>

        <!-- model column -->
        <div class="column">
            <h2>Modelo</h2>
            @{
                if (firstNonNullRegister != null)
                {
                    <p>@Html.DisplayFor(modelItem => firstNonNullRegister.Product.Model)</p>
                }
            }
            </div>

        <!-- establishment column -->
        <div class="column">
            <h2>Establecimiento</h2>
            @{
                if (firstNonNullRegister != null)
                {
                    <p>@Html.DisplayFor(modelItem => firstNonNullRegister.StoreName)</p>
                }
            }
        </div>

        <!-- cantón column -->
        <div class="column">
            <h2>Cantón</h2>
            @{
                if (firstNonNullRegister != null)
                {
                    <p>@Html.DisplayFor(modelItem => firstNonNullRegister.CantonName)</p>
                }
            }
        </div>

        <!-- province column -->
        <div class="column">
            <h2>Provincia</h2>
            @{
                if (firstNonNullRegister != null)
                {
                    <p>@Html.DisplayFor(modelItem => firstNonNullRegister.ProvinciaName)</p>
                }
            }
        </div>

    </div>
    
    <!-- Horizontal separating line -->
    <hr class="style-four">

   </body>
</html>
