@page "~/SearchPage/{pageIndex:int}"
@model LoCoMPro.Pages.SearchPageModel
@{
    ViewData["Title"] = "Busqueda Producto";
    Layout = "_Layout";
    ViewData["HiddenLayout"] = true;
}

<head>
    <link rel ="stylesheet" href="~/css/SearchPage.css"/>
</head>

<div>
    <!-- Search filter section -->
    <form method="post">
        <div class="filter-section">
            <!-- Search filter title -->
            <h4> Filtros </h4>

            <!-- Razor directive that gets all the categories names -->
            @foreach (var category in Model.Category)
            {
                <!-- Individuals categories -->
                <div class="filter-line">
                    <input asp-for="IsChecked" type="checkbox" />
                    <label asp-for="IsChecked">@Html.DisplayFor(modelItem => category.CategoryName)</label>
                </div>
            }
        </div>
    </form>

    <!-- Search result section -->
    <div class="search-section">
        <!-- Search section title -->
        <h1> Resultados "@Model.SearchString" - Búsqueda por "Placeholder" </h1>
         
        <!-- Search section header -->
        <div class="search-title">
            <p>Producto</p>
            <p>Tienda</p>
            <p>Cantón</p>
            <p>Provincia</p>
            <p>Precio</p>
            <p>Fecha</p>
        </div>

        <!-- Razor directives that gets all the registers that match with the search string -->
        @foreach (var register in Model.Register)
        {
            <!-- Search result section -->
            <div class="result-section">
                <!-- Individual registers -->
                <div class="result-block">
                    <p>@Html.DisplayFor(modelItem => register.ProductName)</p>
                    <p>@Html.DisplayFor(modelItem => register.StoreName)</p>
                    <p>@Html.DisplayFor(modelItem => register.CantonName)</p>
                    <p>@Html.DisplayFor(modelItem => register.ProvinciaName)</p>
                    <p>₡ @Html.DisplayFor(modelItem => register.Price)</p>
                    <p>@Html.DisplayFor(modelItem => register.SubmitionDate)</p>
                </div>
            </div>
        }

        <div class="pagination-section">
            <button class="button-general pagination-button" id="pagination-button-left" @(Model.ActualPage <= 1 ? "disabled" : "") onclick="window.location.href='/SearchPage/@(Model.ActualPage - 1)?SearchString=@Model.SearchString'">
                <img src="~/img/ArrowLeftIcon.svg" alt="Anterior">
            </button>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <div id="pagination-square">
                    <a class="@(i == Model.ActualPage ? "pagination-square-active" : "")" href="/SearchPage/@i?SearchString=@Model.SearchString">@i</a>
                </div>
            }
            <button class="button-general pagination-button" id="pagination-button-right" @(Model.ActualPage >= Model.TotalPages ? "disabled" : "") onclick="window.location.href='/SearchPage/@(Model.ActualPage + 1)?SearchString=@Model.SearchString'">
                <img src="~/img/ArrowRightIcon.svg" alt="Siguiente">
            </button>
        </div>

    </div>
</div>