@page "~/SearchPage/{pageIndex:int}"
@model LoCoMPro.Pages.SearchPageModel
@{
    ViewData["Title"] = "Busqueda Producto";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
}

<head>
    <link rel="stylesheet" href="~/css/SearchPage.css" />
</head>

<div>
    <div hidden>
        <input id="selectedProvince" value="@Model.Province">
        <input id="selectedCanton" value="@Model.Canton">
    </div>
    <!-- Search filter section -->
    <div class="filter-section">
        <!-- Search filter title -->
        <h4> Filtros </h4>

        @if (Model.Category.Count() > 1)
        {
            <!-- Filter by category -->
            <h5> Categorías </h5>
                @foreach (var category in Model.Category)
                {
                    <div class="filter-line">
                        <input type="checkbox" name="SelectedCategories" value="@category.CategoryName" @(Model.SelectedCategories != null && Model.SelectedCategories.Contains(category.CategoryName) ? "checked" : "") />
                        <label>@Html.DisplayFor(modelItem => category.CategoryName)</label>
                    </div>
                }
        }

        <!-- Filter by Province -->
        @if (Model.Provinces.Count() > 1)
        {
            <h5> Provincias </h5>
                @foreach (var province in Model.Provinces)
                {
                    <div class="filter-line">
                        <input type="checkbox" name="SelectedProvinces" value="@province.Name" @(Model.SelectedProvinces != null && Model.SelectedProvinces.Contains(province.Name) ? "checked" : "") />
                        <label>@Html.DisplayFor(modelItem => province.Name)</label>
                    </div>
                }
        }

        <!-- Filter by Canton -->
        @if (Model.Cantons.Count() > 1)
        {
            <h5> Cantones </h5>
                @foreach (var canton in Model.Cantons)
                {
                    <div class="filter-line">
                        <input type="checkbox" name="SelectedCantons" value="@canton.CantonName" @(Model.SelectedCantons != null && Model.SelectedCantons.Contains(canton.CantonName) ? "checked" : "") />
                        <label>@Html.DisplayFor(modelItem => canton.CantonName)</label>
                    </div>
                }
        }
    </div>
    <!-- No product found message -->
    <div class="product-not-found text-center" id = "product-not-found-result" hidden>
        <h2> No se encontrado resultados de "@Model.SearchString" al buscar por "@Model.SearchType" </h2>
        <img src="~/img/ProductNotFound.svg" alt="Producto no encontrado" />
    </div>
    @if (Model.Register.Count() < 1)
    {
        <div class="product-not-found text-center">
            <h2> No se encontrado resultados de "@Model.SearchString" al buscar por "@Model.SearchType" </h2>
            <img src="~/img/ProductNotFound.svg" alt="Producto no encontrado" />
        </div>
    }
    else
    {
        <!-- Search result section -->
        <div class="search-section" id="search-results">
            <!-- Search section title -->
            <h1> Resultados "@Model.SearchString" - Búsqueda por "@Model.SearchType" </h1>


            <!-- Search section header -->
            <nav>
                <ul class="containerListRegisterColumns">
                    <li>
                        <div class="textComment">Producto</div>
                    </li>
                    <li>
                        <div class="textComment">Tienda</div>
                    </li>
                    <li>
                        <div class="textComment">Cantón</div>
                    </li>
                    <li>
                        <div class="textComment">Provincia</div>
                    </li>
                    <li>
                        <button class="sort-button" data-sort-order="desc" target="#result-price">
                            <span class="textComment">Precio</span>
                            <img src="~/img/ArrowDownIcon.svg" alt="order" class="arrow down">
                        </button>

                    </li>

                    <li>
                        <div class="textComment">Fecha</div>
                    </li>
                </ul>
            </nav>

            <!-- Search results section -->
            <ul class="result-section">
                <!-- Put in all results -->
                @foreach (var register in Model.Registers)
                {
                    <!-- A result block -->
                    <li class="result-block">
                        <!-- Route and data for each result -->
                        <a asp-page="./ProductPage"
                           asp-route-pageIndex="1"
                           asp-route-SearchProductName="@register.ProductName"
                           asp-route-SearchStoreName="@register.StoreName"
                           asp-route-SearchCantonName="@register.CantonName"
                           asp-route-SearchProvinceName="@register.ProvinciaName">
                            <span id="result-product-name" value="@register.ProductName">
                                @Html.DisplayFor(modelItem => register.ProductName)
                            </span>
                            <!-- remove hidden when css is fixed pls -->
                            <span id="result-store-name" value="@register.StoreName" hidden>
                                @Html.DisplayFor(modelItem => register.StoreName)
                            </span>
                            <span id="result-province-name" value="@register.ProvinciaName" hidden>
                                @Html.DisplayFor(modelItem => register.ProvinciaName)
                            </span>
                            <span id="result-canton-name" value="@register.CantonName">
                                @Html.DisplayFor(modelItem => register.CantonName)
                            </span>
                            <span id="result-price" value="@register.Price">
                                ₡ @Html.DisplayFor(modelItem => register.Price)
                            </span>
                            <span id="result-date" value="@register.SubmitionDate.Date" hidden>
                                @Html.DisplayFor(modelItem => register.SubmitionDate.Date)
                            </span>
                            <span id="result-categories" value="@Model.CategoryMap[register.Product.Name]" hidden></span>
                        </a>
                    </li>
                }
            </ul>

            <!-- Search pagination section -->
            <div class="pagination-section">
                <!-- Previous page button -->
                <button class="button-general pagination-button" id="pagination-button-left" hidden>
                    <img src="~/img/ArrowLeftIcon.svg" alt="Anterior">
                </button>

                <!-- Specific navigation page buttons -->
                <span id="pageButtonsContainer"></span>

                <!-- Next page button -->
                <button class="button-general pagination-button" id="pagination-button-right">
                    <img src="~/img/ArrowRightIcon.svg" alt="Siguiente">
                </button>

                <div id="total"></div>
            </div>
        </div>
    }
    <script src="~/js/SearchPage/pagination.js"></script>
    <script src="~/js/SearchPage/filters.js"></script>
</div>